<footer>
    <div class="wrapper-footer">
        <div class="footer-social">
            <div class="footer-social-instagram">

            </div>
        </div>
        <div class="footer-info">
            <div class="footer-info-code">
                <a href="https://github.com/bicconess-swteam/hornazosporelmundo.github.io">
                    <span class="octicon octicon-code"> {% octicon code %}</span>
                    with 
                    <span class="octicon octicon-heart"> {% octicon heart %} </span>
                    by
                    <b>vjsantojaca</b>
                </a>
            </div>
        </div>
    </div>
</footer>