<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	{% if site.description %}
	<meta name="description" content="{{ site.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- styles -->
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/main.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:300|Roboto:500" rel="stylesheet">

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>