<header class="site-header" role="banner">
    <div class="site-header-info"">
        <div>
            <a class="site-title" href="{{ "/" | relative_url }}">
                <img border="0" alt="logo Hormazos" src="{{ site.url }}/assets/images/logoHornazosPorElMundo.svg"" width="150" height="150">
            </a>
        </div>
        <div class="slogan">
            {{ site.slogan | escape }}
        </div>
    </div>
    <div class="site-header-nav">
        <nav>
            <ul>
                <li>
                    <a class="site-nav-anchor" href="{{ "/" | relative_url }}">
                        Quienes Somos
                    </a>
                </li>
                <li>
                    <a class="site-nav-anchor" href="{{ "/" | relative_url }}">
                        Portada
                    </a>
                </li>
                <li>
                    <a class="site-nav-anchor" href="{{ "/" | relative_url }}">
                        Contacto
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>