<header class="site-header" role="banner">
    <div class="site-header-info"">
        <div>
            <a class="site-title" href="{{ "/" | relative_url }}">
                <img border="0" alt="logo Hormazos" src="{{ site.url }}/assets/images/logoHornazosPorElMundo.png" width="150" height="150">
            </a>
        </div>
        <div class="slogan">
            {{ site.slogan | escape }}
        </div>
    </div>
    <div class="site-header-nav"></div>
        <nav class="menu-principal">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about/">Sobre mí</a></li>
            </ul>
        </nav>
        <h1><a href="/">Hornazos por el Mundo</a></h1>
    </div>
</header>