/**
* header
*/
header {
    width:70%;
    position:fixed;
    margin: 0 auto;
    -webkit-font-smoothing:subpixel-antialiased;
}

.site-header {
    min-height: 55.95px;
    position: relative; 
}
  
.site-title {
    font-size: 28px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: bold;
}

.site-title img {
    display:block;
    margin:auto;
}

.site-header-info {
    margin: 0 auto;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.slogan {
    clear: both;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align:center;
}


.wrapper-footer {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding: 30px 0;
    overflow: hidden;}

.footer-info {
    border-top: 1px solid #91A8D0;
    text-decoration: none;
    color: white;
}

.footer-info-code{
    margin-top: 30px;
}

.footer-info-code a{
    color: white;
}
sidebar {
    width: 20%;
    height: 100%;
    position:fixed;
    margin: 0 auto;
    background-color: #91A8D0;
}
